.card-label__container {
	bottom: 90px;
	position: absolute;
	right: 0;
}
.card-label__content {
	align-items: center;
	background-color: #0d0d0d;
	color: #ffffff;
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	justify-content: center;
	padding: 2px 15px;
}
